:root{
    --color: #e6007e;
    --txt: rgb(185, 185, 185)
}
body{
    font-family:Norse;
}
.picture{
    background-image: url(./LEAF.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 40vw;
}

p{
    font-family: Norse,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
 @font-face { font-family: Norse; src: url('./Norse-Bold.otf'); } 



.content {
    width: 100vw;
    height: 100vh;
}

.content,
.logo{
    display: flex;
    flex-flow: row wrap;
}

.logo{
    height:auto;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    top: 20vh;
    gap: 1vw;
    padding: 15px 0;
    justify-content: center;
    align-items: center;
}



.cute{
    height:10vh;
}
h1{
    color: white;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    /* outline: 1px solid red; */
}

.right{
    width: 60vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    

}
.dummy-text{
    font-weight: 500;
    width: 90%;
    font-size: 1.2rem;
}

.remote-text{
    margin: 40px 0 80px;
}
.form{
    background-color: rgb(6, 6, 6);
    box-shadow: 0 10px 20px -2px rgb(22, 22, 22);
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size:larger;
}

.input{
    display: flex;
    flex-flow: column wrap;
    width: 40%;
    font-size: 0.7rem;
    text-transform: uppercase;
    opacity: 50%;
}

.form-title{
    width: 100%;
    font-size: 1.5rem;
    font-weight: 500;
}

input{
    background-color: rgb(2, 2, 2);
    border: 1px solid rgb(77, 77, 77);
    border-radius: 3px;
    font-size:25px;
}

input:focus{
    outline: none;
    border: 2px solid var(--color);
}

button{
    background-color: rgba(0, 0, 0, 0);
    color: var(--color);
    font-weight: 700;
    font-size: 1.2em;
    border: 2px solid var(--color);
    border-radius: 5px;
    padding: 10px 40px;
    margin: 40px 0;
}

button:hover{
    background-color: var(--color);
    color: black;
    
}

.log-in{
    display: flex;
    gap: 5px;
}

a{
    text-decoration: none;
    color: var(--color);
    font-weight: 700;
}

a:hover{
    color: rgb(167, 140, 221);
}

body{
    display:flex;
    gap:2px;
}


.ALL{
margin-left:2vh;
background-color:rgb(63, 57, 72);
margin-bottom: 4vh;

}
body{
    background-image: linear-gradient(red, rgb(106, 85, 154));
}


.log-in{
    margin-left:4vh;
}

.left button{
    margin-left:4vh;
}

.right{
    margin-top:4vh;
    margin-left:4vh;
}

label{
    font-size:1.2rem;
}



